<div class="search-item">
  <div class="video-preview">
    <img class="video-preview-img" [src]="previewSrc" [alt]="itemData.snippet.title | shortenTitle">
  </div>

  <div class="video-data">
    <mat-icon class="icon">visibility</mat-icon><span>{{ itemData.statistics.viewCount }}</span>
    <mat-icon class="icon">favorite</mat-icon><span>{{itemData.statistics.likeCount}}</span>
    <mat-icon class="icon">heart_broken</mat-icon><span>{{itemData.statistics.dislikeCount}}</span>
    <mat-icon class="icon">forum</mat-icon><span>{{itemData.statistics.commentCount}}</span>
  </div>

  <h2 [title]="fullTitle">{{ itemData.snippet.title | shortenTitle }}</h2>

  <button mat-button class="more-btn">More...</button>
  <div class="date-status" [appPublicationDateColor]="publishedDate"></div>
</div>
