

.search-input {
  background: #EFEFEF;
  width: 396px;
  height: 24px;
  border: none;
  margin-left: 16px;
}

.search-button {
  height: 24px;
  background: #2F80ED;
  color:white;
  font-size: 12px;
  font-weight: 400;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}