<ng-container *ngIf="searchItem">
  <button mat-button [appPublicationDateColor]="publishedDate" class="back-btn" (click)="goToPreviousPage()">&lt;</button>
  <div class="card-img-container">
    <img class="card-page-img" [src]="previewSrc">
  </div>
  <div class="description-container">
    <div class="card-page-title">
      <div class="card-page-title-text">{{title}}</div>
      <div class="card-page-title-date">{{publishedDate | date:'fullDate'}}</div>
    </div>
    <div class="card-page-description">
      <div class="card-page-description-title">Description</div>
      <div class="card-page-description-text">{{description}}</div>
    </div>
    <app-item-statistics [statistics]="statistics" class="video-statistics"></app-item-statistics>
    <div [appPublicationDateColor]="publishedDate" class="status-card-page"></div>
  </div>
</ng-container>
