.settings-btn {
  background: #2F80ED;
  color:white;
  margin-left: 10px;
  min-width: 24px;
  padding: 0;
  height: 24px;
}

.settings-icon {
  font-size: 20px;
  font-weight: 100;
  margin-right: 0;
  height: 100%;
  width: 24px;
  margin-left: 1px;
  margin-top: 3px;
}

.search-input {
  background: #EFEFEF;
  width: 396px;
  height: 24px;
  border: none;
  margin-left: 16px;
}

.search-button {
  height: 24px;
  background: #2F80ED;
  color:white;
  font-size: 12px;
  font-weight: 400;
}